.countryProfile{
    background-image: url(../../background/load.jpg);
    margin: 20px 0px;
    padding: 10px;
    border:1px solid navy;
    border-radius: 10px;
}
.countryProfile img{
    margin-top: 20px;
}